@use "../util/" as *;

body,
button {
  color: $font-secondary;
  font-family: "Plus Jakarta Sans", serif;
  font-size: clamp(0.875rem, 4.267vw, 1.125rem);
}

.notifications {
  &__header {
    font-weight: 800;
    justify-content: space-between;

    button {
      font-weight: 500;
    }
    h2 {
      font-size: clamp(1rem, 5.333vw, 1.222rem);
    }
    p {
      color: $bg;
      background-color: $highlight;
      border-radius: 5px;
      padding: 0.111em 0.556em;
    }
  }

  &__alerts {
    font-size: clamp(0.667rem, 3.733vw, 0.889rem);
    font-weight: 500;

    .alert__activity {
      font-weight: 800;
      .highlight--txt {
        color: $font-highlight;
      }
      .group {
        color: $highlight;
      }
    }

    .message {
      font-weight: 800;
    }
  }

  h2,
  .name {
    color: $font-primary;
  }
}
