$alert: hsl(1, 90%, 64%);
$highlight: hsl(219, 85%, 26%);
$bg: hsl(0, 0%, 100%);
$notif-new: hsl(211, 68%, 94%);

$new: hsl(210, 60%, 98%);
$font-secondary: hsl(219, 14%, 63%);
$font-highlight: hsl(219, 12%, 42%);
$font-primary: hsl(224, 21%, 14%);

$message: hsl(205, 33%, 90%);
