@use "../util/" as *;

.alert--new {
  background-color: $new;
}

.alert--new:hover {
  cursor: pointer;
}

.new::after {
  content: " ";
  width: 0.444em;
  height: 0.444em;
  border-radius: 50%;
  background-color: $alert;
  position: absolute;
  margin: 0.389em 0.278em;
}
