@use "../util/" as *;

.notifications {
  margin: 1.222em 0.889em;
  &__header {
    @include toFlex();
    button {
      background-color: transparent;
      border: none;
    }
    button:hover {
      cursor: pointer;
      color: $highlight;
    }
    span {
      @include toFlex();
      gap: 0.333em;
    }
  }

  &__alerts {
    @include toFlex(column);
    align-items: flex-start;
    gap: 0.556em;
    margin-top: 1.389em;
  }

  @include breakpoint(medium) {
    background-color: $bg;
    border-radius: 10px;
    margin: 5% 30% 2%;
    padding: 1.389em;
  }

  @include breakpoint(large) {
    margin: 5% 32% 0;
  }
}
